@import '../variables';

.game-container {
    height: 100vh;
    width: 100vw;
    background: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: ($size*.35);
    position: absolute;
    z-index: 15;
    height: ($size*.5);
    width: ($size*.5);
    background: rgb(184, 138, 77);
    border-radius: 50%;
}