@import '../variables';

* {
    box-sizing: border-box;
}

.game-container {
    height: 100vh;
    width: 100vw;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.top-container {
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    .top-container-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.24);
        z-index: 1000;
    }
}

.middle-container {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.res-dice-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.res-container {
    display: flex;
    flex-direction: column;
    div {
        font-size: 20px;
        display: flex;
        justify-content: center;
        div {
            margin: ($size/10) ($size/20);
            height: ($size*1.3);
            width: ($size*.8);
            border: ($size/60) solid white;
            border-radius: 5%;
            
        }
        .wheat {
            background: url(../images/wheat.png);
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .wood {
            background: url(../images/wood.png);
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .sheep {
            background: url(../images/sheep.png);
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .rock {
            background: url(../images/rock.png);
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .clay {
            background: url(../images/clay.png);
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    height: 15%;
    width: 100%;
}

.my-hand-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    border: 1px solid black;
    div {
        // background: url(../images/wheat.png);
        margin-right: ($size*-.4);
        font-size: ($size/5);
        height: ($size*1.3);
        max-height: ($size*1.3)*1.5;
        min-height: ($size*1.3);
        width: ($size*.8);
        border-radius: 5%;
        position: relative;
        bottom: 0%;
        &:hover {
            // transform: translateY(-$size/10);
            z-index: 21;
        }

        div {
            border: ($size/60) solid white;

        };
    }
    .hand-wheat {
        background: url(../images/wheat.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        z-index: 20
    }
    .hand-wood {
        background: url(../images/wood.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        z-index: 20
    }
    .hand-sheep {
        background: url(../images/sheep.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        z-index: 20
    }
    .hand-rock {
        background: url(../images/rock.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        z-index: 20
    }
    .hand-clay {
        background: url(../images/clay.png);
        background-size: 120%;
        background-position: top;
        background-repeat: no-repeat;
        z-index: 20
    }
}

.discard-button-container {
    margin-left: 50px;
}

.end-button-container {
    position: relative;
    button {
        border: none;
        border-radius: 50%;
        height: $size/2;
        width: $size/2;
    }
    .end-turn-overlay {
        position: absolute;
        z-index: 1000;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.404);
        border-radius: 50%;
    }
}