@import '../variables';

.purchase-container {
    height: 50%;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
}

.purchase-item-container {
    height: 100%;
    border: 3px solid white;
    padding: 15px 9px;
    display: flex;
    flex-direction: column;
}

.cost-row {
    display: flex;
    flex-direction: row;
    div {
        height: $size*.5;
        width: $size*.5;
        z-index: 27;
        border-radius: 50%;
        border: ($size/60) solid white;
        background: $exp;
        background-size: 145%;
        background-position: center;
    }
}

.cost-picture-wood {
    
}
.cost-picture-clay {

}
.cost-picture-wheat {
  
}
.cost-picture-sheep {
  
}
.cost-picture-rock {

}