@import '../variables';

.purchase-container {
    // height: 50%;
    border: ($size/25) solid white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: $size/7;
    // border-bottom: ($size/25)*2 solid white;
    // background: url('../images/scroll-png-4501.png');
    background: url('../images/14519.jpg');
    background-size: 110%;
    background-position: center;
    // background-repeat: no-repeat;
}

.building-costs {
    text-align: center;
    font-size: $size/4;
    padding: $size/18 0px;
    border: ($size/100) solid white;
    color: white;
    font-weight: normal;
    // background: purple;
}

.purchase-item-container {
    height: 100%;
    border-top: ($size/60)*2 solid white;
    padding: $size/20 $size/20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid red;
    // background: rgba(0, 100, 0, 0.486);
}

.cost-title {
    // border: 2px dotted blue;
    // margin-bottom: 5px;
    margin-bottom: $size/20;
    margin-left: $size/20;
    display: flex;
    justify-content: space-between;
}

.cost-row {
    // border: 2px dotted green;
    display: flex;
    flex-direction: row;
    // background: white;
    div {
        height: $size*.5;
        width: $size*.5;
        z-index: 27;
        border-radius: 50%;
        border: ($size/60) solid white;
        background: $exp;
        background-size: 145%;
        background-position: center;
        margin-right: $size/60;
    }
}

.cost-picture-wood {
    
}
.cost-picture-clay {

}
.cost-picture-wheat {
  
}
.cost-picture-sheep {
  
}
.cost-picture-rock {

}