@import '../../variables';



.map-container {
  // border: 3px solid purple;
    display: grid;
    grid-template-rows: repeat(7, ($size*.855));
    // padding: $size/3;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: ($size*.35);
  position: absolute;
  z-index: 25;
  height: ($size*.5);
  width: ($size*.5);
  background: rgb(184, 138, 77);
  border-radius: 50%;
}




.hexagon {
    position: relative;
    width: $size; 
    height: ($size*.57736667);
    // background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 165%;
    margin: 0px 0;
    // border-left: solid 1px #333333;
    // border-right: solid 1px #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: inherit;
  }

//   .hexagon:hover {
//     z-index: 24;
//     box-shadow: 0px 0px 50px 30px white;
// }

// .hexagon:focus {
//     // background: radial-gradient(black, rgb(22, 22, 22)) !important;
// }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: inherit;
    width: ($size*.7071);
    height: ($size*.7071);
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: ($size*.14311333);
  }
  
  .hexagon:before {
    top: ($size*-.35355333);
    // border-top: solid 1px #333333;
    // border-right: solid 1px #333333;
  }

  .hexagon:after {
    bottom: ($size*-.35355333);
    // border-bottom: solid 1px #333333;
    // border-left: solid 1px #333333;
  }

  .robber {
    z-index: 1000;
    // border: 1px solid black;
    height: $size/2;
    width: $size/2;
    font-size: $size;
  }




//   .hexagon-odd {
//     position: relative;
//     width: $size; 
//     height: ($size*.57736667);
//     background:white;
//     margin: 0px 0;
//     border-left: solid 1px #333333;
//     border-right: solid 1px #333333;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // margin-left: ($size/2);
//   }

//   .hexagon-odd:hover {
//       /* z-index: 10; */
//       background: radial-gradient(black, rgb(22, 22, 22)) !important;
//   }
//   .hexagon-odd:focus {
//     background: radial-gradient(black, rgb(22, 22, 22)) !important;
// }
  
  
//   .hexagon-odd:before,
//   .hexagon-odd:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     width: ($size*.7071);
//     height: ($size*.7071);
//     -webkit-transform: scaleY(0.5774) rotate(-45deg);
//     -ms-transform: scaleY(0.5774) rotate(-45deg);
//     transform: scaleY(0.5774) rotate(-45deg);
//     background: inherit;
//     left: ($size*.14311333);
//   }
  
//   .hexagon-odd:before {
//     top: ($size*-.35355333);
//     border-top: solid 1px #333333;
//     border-right: solid 1px #333333;
//   }
  
//   .hexagon-odd:after {
//     bottom: ($size*-.35355333);
//     border-bottom: solid 1px #333333;
//     border-left: solid 1px #333333;
//   }