@import '../../variables';

.port {
    height: $size*.5;
    width: $size*.5;
    background: $exp;
    background-position: center;
    background-size: 145%;
    border-radius: 50%;
    z-index: 27;
    border: ($size/60) solid white;
    span {
        font-size: $size/4;
        font-weight: 400;
    }
}

.port00 {
    z-index: 19;
    // border: 1px solid white;
    background: transparent;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // right: -($size/5)/1.991; // Normal Settlement slot
    // bottom: -($size/5)/2.3;
    // right: -($size/5)/1.55; // Large Settlement slot ($size/4)
    // bottom: -($size/5)/1.6;
    right: ($size/3.8); // Middle
    bottom: -($size/12);
    font-size: $size/10;
}


.port10 {
    z-index: 19;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // left: -($size/5)/2; // Settlement Slot
    // bottom: -($size/5)/2;
    left: ($size/3.8); // Middle
    bottom: -($size/12);
    // font-size: ($size*.35);
    font-size: $size/10;

}


.port20 {
    z-index: 19;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // left: -($size/5)/2;
    // bottom: -($size/5)/2;
    left: ($size/3.8); // Middle
    bottom: -($size/12);
    // font-size: ($size*.35);
    font-size: $size/10;

}


.port30 {
    z-index: 19;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // right: -($size/5)/1.991;
    // top: -($size/5)/1.7;
    right: ($size/5)/2.5;
    top: center;
    font-size: $size/10;

}


.port40 {
    z-index: 19;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // left: -($size/5)/2;
    // bottom: -($size/5)/2;
    left: ($size/5)/2.5;
    top: center;
    // font-size: ($size*.35);
    font-size: $size/10;

}


.port50 {
    z-index: 19;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // right: -($size/5)/1.991;
    // top: -($size/5)/1.7;
    right: ($size/5)/2.5;
    top: center;
    font-size: $size/10;

}


.port60 {
    z-index: 19;
    // border: 1px solid white;
    background: transparent;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // right: -($size/5)/1.991; // Normal Settlement slot
    // bottom: -($size/5)/2.3;
    // right: -($size/5)/1.55; // Large Settlement slot ($size/4)
    // bottom: -($size/5)/1.6;
    left: ($size/3.8); // Middle
    top: -($size/12);
    font-size: $size/10;
}


.port70 {
    z-index: 19;
    // border: 1px solid white;
    background: transparent;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // right: -($size/5)/1.991; // Normal Settlement slot
    // bottom: -($size/5)/2.3;
    // right: -($size/5)/1.55; // Large Settlement slot ($size/4)
    // bottom: -($size/5)/1.6;
    right: ($size/3.8); // Middle
    top: -($size/12);
    font-size: $size/10;
}


.port80 {
    z-index: 19;
    // border: 1px solid white;
    background: transparent;
    border: ($size/90) solid $portB;
    background: $port;
    height: $size/7;
    width: $size/7;
    border-radius: 50%;
    position: absolute;
    // right: -($size/5)/1.991; // Normal Settlement slot
    // bottom: -($size/5)/2.3;
    // right: -($size/5)/1.55; // Large Settlement slot ($size/4)
    // bottom: -($size/5)/1.6;
    left: ($size/3.8); // Middle
    top: -($size/12);
    font-size: $size/10;
}















