@import '../../variables';

.road0 {
    background: black;
    z-index: 10000;
    height: $size*.33;
    width: $size/10;
    position: absolute;
    left: -($size/5)/3;
    top: center;
    font-size: ($size*.35);
  }.road1 {
    z-index: 10000;
    background: black;
    height: $size*.33;
    width: $size/10;
    position: absolute;
    left: ($size/5)/1.15;
    bottom: ($size*.54);
    font-size: ($size*.35);
    transform: rotate(60deg)
  }.road2 {
    z-index: 10000;
    background: black;
    height: $size*.33;
    width: $size/10;
    position: absolute;
    right: ($size/5)/1.15;
    bottom: ($size*.54);
    font-size: ($size*.35);
    transform: rotate(-60deg)
  }.road3 {
    background: black;
    z-index: 10000;
    height: $size*.33;
    width: $size/10;
    position: absolute;
    left: ($size/5)/1.15;
    top: ($size*.54);
    font-size: ($size*.35);
    transform: rotate(-60deg)
  }.road4 {
    background: black;
    z-index: 10000;
    height: $size*.33;
    width: $size/10;
    position: absolute;
    right: ($size/5)/1.15;
    top: ($size*.54);
    font-size: ($size*.35);
    transform: rotate(60deg)
  }.road5 {
    background: black;
    z-index: 10000;
    height: $size*.33;
    width: $size/10;
    position: absolute;
    right: -($size/5)/3;
    top: center;
    font-size: ($size*.35);
  }