@import '../../variables';


  .settlement0 {
    z-index: 10000;
    background: transparent;
    height: $size/5;
    width: $size/5;
    border-radius: 50%;
    position: absolute;
    right: -($size/5)/1.991;
    top: -($size/5)/1.7;
    // right: ($size/5)/1.33;
    // bottom: ($size*.63);
    // font-size: ($size*.35);
  }
  .settlement1 {
    background: transparent;
    z-index: 10000;
    height: $size/5;
    width: $size/5;
    border-radius: 50%;
    position: absolute;
    right: -($size/5)/1.991;
    bottom: -($size/5)/2.3;
    // right: -($size/5)/1.991;
    // top: center;
    // font-size: ($size*.35);
  }

  .settlement-container0 {
    z-index: 10000;
    height: $size/5;
    width: $size/5;
    border-radius: 50%;
    position: absolute;
    right: -($size/5)/1.991;
    top: -($size/5)/1.7;
    font-size: ($size);
  }
  .settlement-container1 {
    z-index: 10000;
    height: $size/5;
    width: $size/5;
    border-radius: 50%;
    position: absolute;
    right: -($size/5)/1.991;
    bottom: -($size/5)/2.3;
    font-size: ($size);
  }
  .settlement-container {
    div:hover {
      color: black;
    }
  }

  // .settlements {
//     div:hover {
//       outline: 1px solid black;
//     }
//   }

// .settlement0 {
//     background: transparent;
//     z-index: 10000;
//     height: $size/5;
//     width: $size/5;
//     border-radius: 50%;
//     position: absolute;
//     left: -($size/5)/2;
//     top: -($size/5)/2;
//     // left: -($size/5)/2;
//     // top: center;
//     font-size: ($size*.35);
//   }
//   .settlement1 {
//     z-index: 10000;
//     background: transparent;
//     height: $size/5;
//     width: $size/5;
//     border-radius: 50%;
//     position: absolute;
//     left: center;
//     bottom: ($size*.74);
//     // left: ($size/5)/1.33;
//     // bottom: ($size*.63);
//     font-size: ($size*.35);
//   }

  // .settlement3 {
    //   background: transparent;
    //   z-index: 10000;
  //   height: $size/5;
  //   width: $size/5;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: -($size/5)/2;
  //   bottom: -($size/5)/2;
  //   // left: ($size/5)/1.33;
  //   // top: ($size*.63);
  //   font-size: ($size*.35);
  // }
  // .settlement4 {
  //   background: transparent;
  //   z-index: 10000;
  //   height: $size/5;
  //   width: $size/5;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: center;
  //   top: ($size*.74);
  //   // right: ($size/5)/1.33;
  //   // top: ($size*.63);
  //   font-size: ($size*.35);
  // }
  
  // .settlement-container0 {
  //   z-index: 10000;
  //   height: $size/5;
  //   width: $size/5;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: -($size/5)/2;
  //   top: -($size/5)/2;
  // }
  // .settlement-container1 {
  //   z-index: 10000;
  //   height: $size/5;
  //   width: $size/5;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: center;
  //   bottom: ($size*.74);
  // }
  
  // .settlement-container3 {
  //   z-index: 10000;
  //   height: $size/5;
  //   width: $size/5;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: -($size/5)/2;
  //   bottom: -($size/5)/2;
  // }
  // .settlement-container4 {
  //   z-index: 10000;
  //   height: $size/5;
  //   width: $size/5;
  //   border-radius: 50%;
  //   position: absolute;
  //   left: center;
  //   top: ($size*.74);
  // }